<p>test-comp works!</p>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="50cm" height="40cm" viewBox="0 0 1200 600">
  <circle *ngFor="let number of testCount" [attr.cx]="101 * number" cy="100" r="50" stroke="black" stroke-width="2" fill="red" />
  <circle *ngFor="let number of testCount" [attr.cx]="101 * number" cy="201" r="50" stroke="black" stroke-width="2" fill="yellow" />
  <circle *ngFor="let number of testCount" [attr.cx]="101 * number" cy="302" r="50" stroke="black" stroke-width="2" fill="blue" />
</svg>
